<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.mapper.ItemMapper">
    <resultMap id="itemResultMap" type="com.company.project.entity.Item">
        <id property="id" column="id"/>
        <result property="name" column="item_name"/>
        <result property="quality" column="item_quality"/>
        <result property="desc" column="item_description"/>
        <result property="price" column="item_price"/>
        <result property="img" column="item_img_url"/>
        <result property="source" column="item_source"/>
        <result property="size" column="item_size"/>
        <result property="type" column="item_type"/>
    </resultMap>
    <select id="selectAllItems" resultMap="itemResultMap">
        select * from t_item
    </select>
    <select id="selectItemById" resultType="com.company.project.entity.Item">
        select * from t_item where id = #{id}
    </select>
    <insert id="insertItem" keyProperty="id" useGeneratedKeys="true">
        insert into t_item (item_name,item_quality,item_price,item_source,item_img_url,item_description,item_type)
            values (#{name},#{quality},#{price},#{source},#{img},#{desc},#{type})
    </insert>
</mapper>